<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{common/layout/layout.html}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div layout:fragment="content">

 <div class="container mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img th:src="@{/images/img_1.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_2.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_3.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_1.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_2.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_3.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_1.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_2.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
        <tr>
          <td><img th:src="@{/images/img_3.jpg}" alt="Image" class="img-fluid" style="width: 100px;"></td>
          <td><a th:href="@{#}">RealMad vs Striker Who Will Win?</a></td>
          <td>Sep 25, 2018</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat beatae doloremque, ex corrupti perspiciatis.</td>
        </tr>
      </tbody>
    </table>
  </div>
        <div class="row">
          <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                    <li><a th:href="@{#}">&lt;</a></li>
                    <li class="active"><span>1</span></li>
                    <li><a th:href="@{#}">2</a></li>
                    <li><a th:href="@{#}">3</a></li>
                    <li><a th:href="@{#}">4</a></li>
                    <li><a th:href="@{#}">5</a></li>
                    <li><a th:href="@{#}">&gt;</a></li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </div>

</div>

</body>
</html>