<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.application.busangiants.bestPlayer.AdminBestPlayerDAO">

	<select id="getBestPlayerList" resultType="BestPlayerDTO">
		SELECT	*
		FROM	BESTPLAYER
	</select>
	
	<insert id="insertBestPlayer" parameterType="BestPlayerDTO">
		INSERT INTO
			BESTPLAYER (
						UP_BEST_PLAYER1_IMG,
						UP_BEST_PLAYER2_IMG,
						PLAYER1_UUID,
						PLAYER2_UUID,
						UP_CONTENT1,
						UP_CONTENT2
						)
				VALUES (
						#{upBestPlayer1Img},
						#{upBestPlayer2Img},
						#{player1Uuid},
						#{player2Uuid},
						#{upContent1},
						#{upContent2}
						)			
	</insert>
	
	<update id="updateBestPlayer" parameterType="BestPlayerDTO">
		UPDATE BESTPLAYER
	
	</update>
	
	
	
</mapper>