<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Main</title>
	
	<!-- Font -->
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Mukta:300,400,700}"> 
    <link rel="stylesheet" th:href="@{fonts/icomoon/style.css}">
    
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{css/aos.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

	<!-- Page Preloder -->
	 


	<!-- Header Section Begin -->
	<header class="site-navbar absolute transparent" role="banner">
		<div class="py-3">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-6 col-md-3">
						<!-- 수정 필요 -->
						<a th:href="@{#}" class="text-secondary px-2 pl-0"><span class="icon-facebook"></span></a>
						<a th:href="@{#}" class="text-secondary px-2"><span class="icon-instagram"></span></a>
						<a th:href="@{#}" class="text-secondary px-2"><span class="icon-twitter"></span></a> 
						<a th:href="@{#}" class="text-secondary px-2"><span class="icon-linkedin"></span></a>
					</div>
					<!-- login / register Begin -->
					<div class="col-6 col-md-9 text-right">
						<div class="d-inline-block" style="font-size: 0.8em; padding: 0.5em;">
							<a th:href="@{member/login}" 
								class="text-secondary p-2 d-flex align-items-center"
								style="font-size: 0.8em; padding: 0.5em;"> 
								<span class="d-none d-md-block">login</span>
							</a>
						</div>
						<div class="d-inline-block"
							style="font-size: 0.8em; padding: 0.5em;">
							<a th:href="@{member/register}"
								class="text-secondary p-2 d-flex align-items-center"
								style="font-size: 0.8em; padding: 0.5em;"> 
								<span class="d-none d-md-block">register</span>
							</a>
						</div>
					</div>
					<!-- login / register End -->
				</div>
			</div>
		</div>
		<nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
			<div class="container position-relative">
				<div class="site-logo">
					<a th:href="@{main.html}"><img th:src="@{images/1628060821216.png}" alt=""></a>
				</div>
				<div class="d-inline-block d-md-none ml-md-0 mr-auto py-3">
					<a th:href="@{#}" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a>
				</div>
				
				<ul class="site-menu js-clone-nav d-none d-md-block">
					<li class="has-children active"><a th:href="@{main}">Home</a></li>
					<li class="has-children"><a th:href="@{user/board}">게시판</a>
						<ul class="dropdown arrow-top">
							<li><a th:href="@{#}">공지</a></li>
							<li><a th:href="@{#}">자유게시판</a></li>
						</ul>
					</li>
					<li><a th:href="@{contact.html}">고객센터</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<!-- Header Section End -->

	<div layout:fragment="content">
	
	</div>
	
	<!-- Footer Section Begin -->
	<footer class="site-footer border-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="mb-5">
						<h3 class="footer-heading mb-4">Club Vision</h3>
						<p>representing the old city of Busan, as a professional baseball team Lifetime to your fans and partners provide a value!
							leading the league with infinite passion Value Creator!
						</p>
					</div>
					<div class="mb-5">
						<h3 class="footer-heading mb-2">Quick Contact</h3>
						<p>This is a quick inquiry. 
							Please write it in one line.</p>

						<form action="#" method="post">
							<div class="input-group mb-3">
								<input type="text"
									class="form-control border-secondary text-white bg-transparent"
									placeholder="Enter Quick Contact" aria-label="Enter Quick Contact"
									aria-describedby="button-addon2">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" name="" id="button-addon2">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="col-lg-4 mb-5 mb-lg-0">
					<div class="row mb-5">
						<div class="col-md-12">
							<h3 class="footer-heading mb-4">Quick Menu</h3>
						</div>
						<div class="col-md-6 col-lg-6">
							<ul class="list-unstyled">
								<li><a th:href="@{#}">Home</a></li>
								<li><a th:href="@{#}">Board</a></li>
								<li><a th:href="@{#}">Contact</a></li>
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h3 class="footer-heading mb-4">Follow Us</h3>

							<div>
								<a th:href="@{#}" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
								<a th:href="@{#}" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
								<a th:href="@{#}" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
								<a th:href="@{#}" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 mb-5 mb-lg-0">
					<div class="mb-5">
						<h3 class="footer-heading mb-4">Watch Video</h3>

						<div class="block-16">
							<figure>
								<img th:src="@{images/img_1.jpg}" alt="Image placeholder"
									class="img-fluid rounded">
								<a th:href="@{/}" class="play-button popup-vimeo"><span class="icon-play"></span></a>
							</figure>
						</div>

					</div>

				</div>

			</div>
			<div class="row pt-5 mt-5 text-center">
				<div class="col-md-12">
					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script data-cfasync="false"
							th:src="@{/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js}"></script>
						<script>document.write(new Date().getFullYear());</script>
						All rights reserved | This template is made with <i
							class="icon-heart-o" aria-hidden="true"></i> by <a
							th:href="@{https://colorlib.com}" target="_blank">Colorlib</a>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>

			</div>
		</div>
	</footer>
	<!-- Footer Section End -->
	
	<!-- Js Plugins -->
	<script th:src="@{js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{js/jquery-migrate-3.0.1.min.js}"></script>
	<script th:src="@{js/jquery-ui.js}"></script>
	<script th:src="@{js/popper.min.js}"></script>
	<script th:src="@{js/bootstrap.min.js}"></script>
	<script th:src="@{js/owl.carousel.min.js}"></script>
	<script th:src="@{js/jquery.stellar.min.js}"></script>
	<script th:src="@{js/jquery.countdown.min.js}"></script>
	<script th:src="@{js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{js/aos.js}"></script>

	<script th:src="@{js/main.js}"></script>


</body>
</html>