<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Main</title>
	
	<!-- Font -->
	<link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Mukta:300,400,700}"> 
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

	<!-- Page Preloder -->
	 


	<!-- Header Section Begin -->
	<header class="site-navbar absolute transparent" role="banner">
		<div class="py-3">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-6 col-md-3">
						<!-- 수정 필요 -->
						<a th:href="@{#}" class="text-secondary px-2 pl-0"><span class="icon-facebook"></span></a>
						<a th:href="@{#}" class="text-secondary px-2"><span class="icon-instagram"></span></a>
						<a th:href="@{#}" class="text-secondary px-2"><span class="icon-twitter"></span></a> 
						<a th:href="@{#}" class="text-secondary px-2"><span class="icon-linkedin"></span></a>
					</div>
					<!-- login / register Begin -->
					<div class="col-6 col-md-9 text-right">
					<th:block th:if="${session.memberId == null }">
							<div class="d-inline-block"
								style="font-size: 0.8em; padding: 0.5em;">
								<a th:href="@{/member/login}"
									class="text-secondary p-2 d-flex align-items-center"
									style="font-size: 1.0em; padding: 0.5em;"> <span
									class="d-none d-md-block">Login</span>
								</a>
							</div>/
							<div class="d-inline-block"
								style="font-size: 1.0em; padding: 0.5em;">
								<a th:href="@{/member/register}"
									class="text-secondary p-2 d-flex align-items-center"
									style="font-size: 0.8em; padding: 0.5em;"> <span
									class="d-none d-md-block">Register</span>
								</a>
							</div>
						</th:block>
						<th:block th:unless="${session.memberId == null}">
							<div class="d-inline-block"
								style="font-size: 1.0em; padding: 0.5em;">
								<a th:href="@{/member/register}"
									class="text-secondary p-2 d-flex align-items-center"
									style="font-size: 1.0em; padding: 0.5em;"> <span
									class="d-none d-md-block">MyPage</span>
								</a>
							</div>/
							<div class="d-inline-block"
								style="font-size: 1.0em; padding: 0.5em;">
								<a th:href="@{/member/logout}"
									class="text-secondary p-2 d-flex align-items-center"
									style="font-size: 1.0em; padding: 0.5em;"> <span
									class="d-none d-md-block">logout</span>
								</a>
							</div>

						</th:block>
					</div>
					<!-- login / register End -->
				</div>
			</div>
		</div>
		<nav class="site-navigation position-relative text-right bg-black text-md-right" role="navigation">
			<div class="container position-relative">
				<div class="site-logo">
					<a th:href="@{/main}"><img th:src="@{/images/1628060821216.png}" alt=""></a>
				</div>
				<th:block th:if="${session.role == 'admin'}">
				<ul class="site-menu js-clone-nav d-none d-md-block">
		            <li class="has-children active">
		              <a th:href="@{#}">Management</a>
		              <ul class="dropdown arrow-top">
		                <li><a th:href="@{#}">Board   &emsp; Management</a></li>
		                <li><a th:href="@{#}">Matches &emsp; Management</a></li>
		                <li><a th:href="@{#}">BestPlayer 	 Management</a></li>
		                <li><a th:href="@{#}">Registration 	 Management</a></li>
		                <li><a th:href="@{#}">Contact &emsp; Management</a></li>
		              </ul>
		            </li>
				</ul>
				</th:block>


					<ul class="site-menu js-clone-nav d-none d-md-block">
						<li><a th:href="@{/main}">Home</a></li>
						<li><a th:href="@{/board/boardList}">Board</a></li>
						<li><a th:href="@{/matches/matchesList}">Matches</a></li>
						<li><a th:href="@{/bestplayer/bestplayerList}">BestPlayer</a></li>
						<li><a th:href="@{/registration/registrationList}">Registration</a></li>
						<li><a th:href="@{/contact/contactList}">Contact</a></li>
					</ul>

			</div>
		</nav>
	</header>
	<!-- Header Section End -->

	<div layout:fragment="content">
	
	</div>
	
	<!-- Footer Section Begin -->
	<footer class="site-footer border-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div class="mb-5">
						<h3 class="footer-heading mb-4">Club Vision</h3>
						<p>representing the old city of Busan, as a professional baseball team Lifetime to your fans and partners provide a value!
							leading the league with infinite passion Value Creator!
						</p>
					</div>
					<div class="mb-5">
						<h3 class="footer-heading mb-2">Quick Contact</h3>
						<p>This is a quick inquiry. 
							Please write it in one line.</p>

						<form action="#" method="post">
							<div class="input-group mb-3">
								<input type="text"
									class="form-control border-secondary text-white bg-transparent"
									placeholder="Enter Quick Contact" aria-label="Enter Quick Contact"
									aria-describedby="button-addon2">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" name="" id="button-addon2">Send</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="col-lg-4 mb-5 mb-lg-0">
					<div class="row mb-5">
						<div class="col-md-12">
							<h3 class="footer-heading mb-4">Quick Menu</h3>
						</div>
						<div class="col-md-6 col-lg-6">
							<ul class="list-unstyled">
								<li><a th:href="@{#}">Home</a></li>
								<li><a th:href="@{#}">Board</a></li>
								<li><a th:href="@{#}">Contact</a></li>
							</ul>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<h3 class="footer-heading mb-4">Follow Us</h3>

							<div>
								<a th:href="@{#}" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
								<a th:href="@{#}" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
								<a th:href="@{#}" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
								<a th:href="@{#}" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
							</div>
						</div>
					</div>

				</div>

				<div class="col-lg-4 mb-5 mb-lg-0">
					<div class="mb-5">
						<h3 class="footer-heading mb-4">Watch Video</h3>

						<div class="block-16">
							<figure>
								<img th:src="@{/images/승리의 하이파이브.jpg}" alt="Image placeholder"
									class="img-fluid rounded">
								<a th:href="@{/}" class="play-button popup-vimeo"><span class="icon-play"></span></a>
							</figure>
						</div>

					</div>

				</div>

			</div>

		</div>
	</footer>
	<!-- Footer Section End -->
	
	<!-- Js Plugins -->
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script th:src="@{/js/jquery-migrate-3.0.1.min.js}"></script>
	<script th:src="@{/js/jquery-ui.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/owl.carousel.min.js}"></script>
	<script th:src="@{/js/jquery.stellar.min.js}"></script>
	<script th:src="@{/js/jquery.countdown.min.js}"></script>
	<script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/js/aos.js}"></script>

	<script th:src="@{/js/main.js}"></script>


</body>
</html>