<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <script>
  
	$().ready(function(){
		
		$("#btnOverlapped").click(function(){
			
			let memberId = $("#memberId").val();
			
			if (memberId == ''){
				alert("ID를 확인하세요.");
				return;
			}
			
			$.ajax({
				url  : "/member/checkDuplicatedId",
				type : "post",
				data : {"memberId" : memberId},
				success : function (result) {
					if (result == "duplicate") {
						alert("사용할 수 있는 ID입니다.");
					}
					else {
						alert("사용할 수 없는 ID입니다.");
					}
				}
				
			});
			
		});
		
		$("form").submit(function(){
			
			if ($("#passwd").val() != $("#confirmPasswd").val()) {
				alert("비밀번호를 확인하세요.");
				$("#passwd").focus();
				return false;
				
			}
			
		});
		
	});
  </script>
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .form-section {
      margin-top: 50px;
    }
    .form-section h2 {
      margin-bottom: 30px;
    }
    .form-group .col-form-label {
      padding-right: 10px;
    }
  </style>
</head>
<body>
  <div class="container form-section">
    <h2>회원가입</h2>
    <form th:action="@{/member/register}" method="post" class="checkout__form">
      <div class="row">
        <label for="memberId" class="col-sm-2 col-form-label">아이디 <span class="text-danger">*</span></label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="memberId" id="memberId" placeholder="아이디를 입력하세요.">
        </div>
        <div class="col-sm-3">
          <input type="button" id="btnOverlapped" value="중복확인">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">비밀번호 <span class="text-danger">*</span></label>
        <div class="col-sm-3">
          <input type="password" class="form-control" name="passwd" id="passwd" placeholder="비밀번호를 입력하세요.">
        </div>
      </div>
      <div class="form-group row">
        <label for="confirm_password" class="col-sm-2 col-form-label">비밀번호 확인 <span class="text-danger">*</span></label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="confirmPasswd" placeholder="비밀번호를 확인하세요.">
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">이름 <span class="text-danger">*</span></label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="memberNm" id="memberNm" placeholder="이름을 입력하세요.">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">성별 <span class="text-danger">*</span></label>
        <div class="col-sm-3">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="sex" value="남">
            <label class="form-check-label" for="male">남</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="sex" id="sex" value="여">
            <label class="form-check-label" for="female">여</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">생년월일 <span class="text-danger">*</span></label>
        <div class="col-sm-2">
          <select class="form-control" name="dateBirth" id="dateBirth">
            <option>년도</option>
            	<option th:each="leapYear : ${#numbers.sequence(2024 , 1960 , -1)}">
					<th:block th:text="${leapYear}"></th:block>
            	</option>
          </select>
        </div>
        <div class="col-sm-1">
          <select class="form-control" name="dateBirth" id="dateBirth">
            <option>월</option>
				<option th:each="leapYear : ${#numbers.sequence(1 , 12 , 1)}">
					<th:block th:text="${leapYear}"></th:block>
            	</option>
          </select>
        </div>
        <div class="col-sm-1">
          <select class="form-control" name="dateBirth" id="dateBirth">
            <option>일</option>
				<option th:each="leapYear : ${#numbers.sequence(1 , 31 , 1)}">
					<th:block th:text="${leapYear}"></th:block>
            	</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="contact" class="col-sm-2 col-form-label">연락처 <span class="text-danger"></span></label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="phoneNo" id="contact" placeholder="-을 포함해서 입력하세요.">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">이메일 <span class="text-danger"></span></label>
        <div class="col-sm-3">
          <input type="email" class="form-control" name="email" id="email" placeholder="이메일을 입력하세요.">
        </div>
      </div>
      
      <div class="form-group row">
        <label for="text" class="col-sm-2 col-form-label">주소 <span class="text-danger"></span></label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="roadAddress" id="roadAddress" placeholder="주소를 입력하세요.">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" class="btn btn-primary">가입하기</button>
        </div>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>